/vendor/
node_modules/

npm-debug.log
yarn-error.log

# Laravel compiled files
bootstrap/compiled.php

# Laravel storage
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot

storage/*.key
/storage/pail

# Environment files
.env
.env.backup
.env.production

# Laravel / testing
.phpunit.result.cache

# Build files
/public/build

# Laravel Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Authentication
auth.json

# IDE files
/.fleet
/.idea
/.vscode

# PHP tools
.phpactor.json